
<%- include('partials/header.ejs') %>
<h2>Alimentaire</h2>
<table>
  <thead>
    <tr>
      <th>Nom du produit</th>
      <th>Quantité</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Boucle sur la liste des produits -->
    <% for (const alimentaire of alimentaires ){ %>
    <tr>
      <td><%= alimentaire.article %></td>
      <td><%= alimentaire.quantité %></td>
      <td>
        <!-- Formulaire pour mettre à jour la quantité -->
        <form action="/alimentaire/<%= alimentaire.id %>" method="post">
          <input type="number" name="quantité" value="<%= alimentaire.quantité %>">
          <button type="submit">Mettre à jour</button>
        </form>
        <!-- Lien pour supprimer le produit -->
        <a href="/alimentaire/<%= alimentaire.id %>/delete">Supprimer</a>
      </td>
    </tr>
    <% }; %>
  </tbody>
</table>

<!-- Formulaire pour ajouter un nouveau produit -->
<h3>Ajouter un produit</h3>
<form class="mb-5" method="post">
  <label>article :
    <input type="text" name="article">
  </label>
  <label>Quantité :
    <input type="number" name="quantité">
  </label>
  <button type="submit">Ajouter</button>
</form>


<%- include('partials/footer.ejs') %>