<%- include('partials/header.ejs') %>
<h2>Articles</h2>
<table>
  <thead>
    <tr>
      <th>Nom du produit</th>
      <th>Quantité</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Boucle sur la liste des produits -->
    <% for (const article of locals.articles){ %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.quantité %></td>
      <td>
        <!-- Formulaire pour mettre à jour la quantité -->
        <form action="/article/<%= article.id %>" method="post">
          <input type="number" name="quantité" value="<%= article.quantité %>">
          <button type="submit">Mettre à jour</button>
        </form>
        <!-- Lien pour supprimer le produit -->
        <a href="/article/<%= article.id %>">Supprimer</a>
      </td>
    </tr>
    <% }; %>
  </tbody>
</table>

<!-- Formulaire pour ajouter un nouveau produit -->
<h3>Ajouter un produit</h3>
<form action="/article/" method="post">
  <label>Nom du produit :
    <input type="text" name="name">
  </label>
  <label>catégorie :
    <input type="text" name="category">
  </label>
  <label>Quantité :
    <input type="number" name="quantité">
  </label>
  <button type="submit">Ajouter</button>
</form>

<%- include('partials/footer.ejs') %>