<%- include('partials/header.ejs') %>
<h2>Catégories</h2>
<table>
  <thead>
    <tr>
      <th>Nom de la catégorie</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Boucle sur la liste des produits -->
    <% for (const category of locals.categories){ %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <!-- Formulaire pour mettre à jour la quantité -->
        <form action="/update-quantity/<%= category.id %>" method="post">
          <button type="submit">Mettre à jour</button>
        </form>
        <!-- Lien pour supprimer le produit -->
        <a href="/delete-product/<%= category.id %>">Supprimer</a>
      </td>
    </tr>
    <% }; %>
  </tbody>
</table>

<!-- Formulaire pour ajouter un nouveau produit -->
<h3>Ajouter un produit</h3>
<form action="/add-product" method="post">
  <label>Nom du produit :
    <input type="text" name="name">
  </label>
  <label>Quantité :
    <input type="number" name="quantity">
  </label>
  <button type="submit">Ajouter</button>
</form>

<%- include('partials/footer.ejs') %>