
<%- include('partials/header.ejs') %>
<h2>product</h2>
<table>
  <thead>
    <tr>
      <th>Nom du produit</th>
      <th>Quantité</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Boucle sur la liste des produits -->
  
      <a href="/product/<%= product.id %>">
    <tr>
      <td><%= product.name %></td>
      <td><%= product.quantity %></td>
      <td>
        <!-- Formulaire pour mettre à jour la quantité -->
        <form action="/product/<%= product.id %>" method="post">
          <button type="submit">Mettre à jour<input type="number" name="quantity" value="<%= product.quantity %>"></button>
          
        </form>
        <!-- Lien pour supprimer le produit -->
        <form action="/product/<%= product.id %>" method="post">
         <a href="/product/<%= product.id %>">Supprimer</a>
        </form>
        
      </td>
    </tr>
    
  </tbody>
</table>



<%- include('partials/footer.ejs') %>